/* global style */
html {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(299, 255, 204);
  }
  /* Navigation bar style */
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 290px;
    width: 320px;
    height: 100%;
    margin-top: -5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-style: solid;
    border-right-style: solid;
    border-color: rgb(150, 150 150);
  }
  @media only screen and (max-width: 815px) {
    #navbar {
      position: absolute;
      top: 0;
      padding: 0px;
      margin: 0px;
      width: 100%;
      max-height: 275px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  #navbar header {
    position: sticky;
    top: 0px;
    left: 0px;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }
  @media (max-width: 815px) {
    #navbar header {
      position: relative;
      text-align: center;
    }
  }
  #navbar ul {
    margin-left: -40px;
    z-index: 2;
  }
  #navbar > ul > li {
    list-style: none;
    padding: 15px 30px;
    border: 1px solid rgb(158, 158, 158);
  }
  .nav-link {
    text-decoration: none;
    color: #4d4e53;
  }
  
  #main-doc {
    position: absolute;
    margin-top: -25px;
    margin-left: 330px;
    padding: 45px;
    line-height: 1.5rem;
  }
  @media only screen and (max-width: 815px) {
    #main-doc {
      position: relative;
      margin-left: 0;
      margin-top: 270px;
    }
  }
  .main-section {
    margin: 20px 0px;
  }
  #main-doc header {
    font-weight: 400;
    font-size: 1.8rem;
  }
  #main-doc article {
    color: #4d4e53;
  }
  /* main section style */
  #main-doc li {
    margin: 15px 0px;
  }
  code {
    display: block;
    position: relative;
    border-left: 3px solid green;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    margin: 20px;
    width: 80%;
    height: 65px;
    white-space: pre-line;
    line-height: 1.2rem;
  }
  